@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --color-primary: #1a1c3e;
  --color-primary-light: #454666;
  --color-primary-dark: #12142c;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid rgba(255, 255, 255, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.6;
  color: var(--color-grey-light-1);
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.Header {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
}

.Header {
  color: var(--color-grey-light-1);
}

.appLabel {
  font-size: 6rem;
  font-weight: 900;
}

.subAppLabel {
  font-size: 1.5rem;
}

.card {
  display: flex;
  align-items: center;
  background: #f6f5fa;
  width: 100%;
  min-width: 80%;
  height: 100%;
  min-height: 300px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.16);
  color: black;
}
@media only screen and (min-width: 600px) {
  .card {
    max-width: 472px;
    max-height: 246px;
  }
}

input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 10px;
  font-size: 2rem;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

*:focus {
  outline: none;
}

button {
  background-color: tomato; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}

.infoLabels {
  font-size: 2rem;
  text-align: left;
  margin-left: 4rem;
}

.cityLabel {
  font-size: 3rem;
}

.temperatureLabel {
  font-size: 6rem;
  font-weight: bold;
  color: var(--color-grey-dark-1);
}

.conditionsLabel {
  font-size: 2rem;
}
